@using Sitecore.Mvc;
@using Capgemini_Training2.Models;
@model Carousel_2

@if (Model != null && Model.Slides2 != null && Model.Slides2.Count > 0)
{
    <section class="banner_main">
        <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var counter = 0; counter < Model.Slides2.Count; counter++)
                {
                    var activeClass = counter == 0 ? "active" : String.Empty;
                    <li data-target="#proj" data-slide-to="@counter" class="@activeClass"></li>
                }
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                @for (var counter = 0; counter < Model.Slides2.Count; counter++)
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption  banner_po">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="build_box">
                                            <h1>@Model.Slides2[counter].Text</h1>
                                            <p>@Model.Slides2[counter].Description</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>                        </div>
                    </div>
                }
                </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">@Model.Prev</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">@Model.Next</span>
            </a>
        </div>
    </section>
}